Adafruit-Blinka==9.1.0
adafruit-blinka-displayio==2.3.2
Adafruit-Blinka-Raspberry-Pi5-Neopixel==1.0.0rc2
adafruit-circuitpython-ahtx0==1.0.30
adafruit-circuitpython-bitmap_font==2.4.3
adafruit-circuitpython-busdevice==5.2.17
adafruit-circuitpython-connectionmanager==3.1.8
adafruit-circuitpython-ili9341==2.0.4
adafruit-circuitpython-register==1.11.3
adafruit-circuitpython-requests==4.1.17
adafruit-circuitpython-rgb-display==3.14.6
adafruit-circuitpython-typing==1.12.3
Adafruit-GPIO==1.0.3
Adafruit-ILI9341==1.5.1
Adafruit-PlatformDetect==3.88.0
Adafruit-PureIO==1.1.11
annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.14.2
asyncpg==0.31.0
binho-host-adapter==0.1.6
cbor2==6.1.2
click==8.4.2
colorzero==2.0
fastapi==0.141.1
gpiozero==2.0.1
h11==0.16.0
httptools==0.8.0
idna==3.18
lgpio==0.2.2.0
luma.core==2.5.3
luma.oled==3.15.0
numpy==2.5.2
pillow==12.2.0
psycopg2-binary==2.9.12
pydantic==2.13.4
pydantic_core==2.46.4
pyftdi==0.57.2
pyserial==3.5
python-dotenv==1.2.2
pyusb==1.3.1
PyYAML==6.0.3
rpi-lgpio==0.6
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
setuptools==82.0.1
smbus2==0.6.1
spidev==3.8
starlette==1.6.0
sysv_ipc==1.2.0
typing-inspection==0.4.4
typing_extensions==4.15.0
uvicorn==0.52.3
uvloop==0.22.1
watchfiles==1.2.0
websockets==17.0.1
